/Module 7.5/Exercise/node_modules/
/Module 7.5/Section Code (Structure changes)/node_modules/
/Module 8/node_modules/
/Module 8/Exercise/node_modules/
/Module 8  - Communicating Between Components/node_modules/
/Module 9 - Advanced Components Usage/Exercise/node_modules/
/Module 12 - Using and Creating Directives/node_modules/
/Module 12 - Using and Creating Directives/Exercise/node_modules/
/Module 13 - Improving your App with Filters and Mixins/node_modules/
/Module 13 - Improving your App with Filters and Mixins/Exercise/node_modules/
/Module 14 - Adding Animations and Transitions/node_modules/
