<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <p v-if="show">You can see me! <span>Hello!</span></p>
  <p v-else>Now you see me!</p>
  <template v-if="show">
    <h1>Heading</h1>
    <p>Inside a template</p>
  </template>
  <p v-show="show">Do you also see me?</p>
  <button @click="show = !show">Switcharoo!</button>
  <hr>
  <ul>
    <li v-for="(each, i) in ingredients">{{ each }} - {{ i }}</li>
  </ul>
  <input type="text" v-model="ingredient" v-on:keyup.enter="addIng"><button @click="addIng">Add!</button>
  <hr>
  <ul>
    <li v-for="p in persons">
      <div v-for="(v, k) in p">{{ k }}: {{ v }}</div>
    </li>
  </ul>
  <ul>
    <li v-for="n in 5">  {{ n }}</li>
  </ul>
</div>

<script src="app.js"></script>