<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>My Vue Tutorial - Modules 1&2</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <h1 v-once>{{ title }}</h1>
  <p>{{ sayHello() }} - <a :href="link">Google</a></p>
  <hr>
  <p>{{ counter }} | {{ secondCounter }}
    <button @click="counter++">Increase!</button>
    <button @click="counter--">Decrease!</button>
    <button @click="secondCounter+=2">Increase other counter!</button>
    <p>Result:  {{ result() }} | {{ output }}</p>
  </p>
  <p @mousemove="updateCoordinates">Coordinates: {{ x }}/{{ y }} - <span @mousemove.stop>D E A D   Z O N E</span></p>
  <div>
    <input type="text" @keyup.enter="alertMe">
  </div>
  <input type="text" v-model='name'>
  <p>{{ name }}</p>
  <hr>
  <div class="demo" 
  @click="attachRed = !attachRed"
  :class="divClasses"></div>
  <div class="demo" :class="{red: attachRed}"></div>
  <div class="demo" :class="[color, {red: attachRed}]"></div>
  <hr>
  <input type="text" v-model="color">
  <div>
    <div class="demo" :style="{'background-color': 'green'}"></div>
    <div class="demo" :style="myStyle"></div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
    <hr>
    <input type="text" v-model="colorTwo">
    <input type="text" v-model="width">
  </div>
</div>


<script src="app.js"></script>
</body>
</html>